Repository rms-apps/UI: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, stylelint --fix

.lintstagedrc:

{
  "apps/**/*.{ts,tsx,js}": "eslint --fix --cache",
  "packages/**/*.{ts,tsx,js}": "eslint --fix --cache",
  "apps/**/*.{ts,tsx,md,mdx,css,scss}": "prettier --write",
  "packages/**/*.{ts,tsx,md,mdx,css,scss}": "prettier --write",
  "**/*.{css,scss}": "stylelint --fix",
  "*.json": "prettier --write"
}

fix: updated ci workflow
  .github/workflows/ci.yml
Due: none

fix: updated ci workflow
  .github/workflows/ci.yml
  .husky/pre-commit
Due: none

fix: updated ci workflow
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/prepare-commit-msg
Due: none

fix: updated ci workflow
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: updated ci workflow
  .github/workflows/check-build.yml
  .github/workflows/ci.yml
Due: none

fix: type checks not running for packages
  apps/expo-native/package.json
  packages/ThemedText/.eslintcache
  packages/ThemedText/package.json
  packages/ThemedToast/.eslintcache
  packages/ThemedToast/package.json
  packages/Utils/.eslintcache
  packages/Utils/package.json
  scripts/scaffolds/package.config.mjs
Due: prettier --write

fix: type checks not running for packages
  .github/workflows/ci.yml
Due: none

fix: try
  .github/workflows/ci.yml
Due: none

fix: try
  apps/expo-native/package.json
Due: prettier --write

fix: try
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

fix: try
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: repository name
  .changeset/config.json
  .github/workflows/release.yml
Due: prettier --write

feat: updated themed text component
  packages/ThemedText/src/index.tsx
  packages/Utils/src/constants/colors.ts
  packages/Utils/src/context/ThemedContext.tsx
  packages/Utils/src/customHooks/useThemeColor.ts
Due: eslint --fix --cache, prettier --write

chore: updated versions
  .changeset/thin-garlics-win.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: release error
  .github/workflows/release.yml
Due: none

feat: added themed button
  apps/expo-native/package.json
  apps/expo-native/stories/ThemedButton/index.stories.tsx
  eslint.config.mjs
  package.json
  packages/ThemedButton/README.md
  packages/ThemedButton/eslint.config.js
  packages/ThemedButton/index.ts
  packages/ThemedButton/package.json
  packages/ThemedButton/src/ThemedButton.tsx
  packages/ThemedButton/src/index.ts
  packages/ThemedButton/tsconfig.build.json
  packages/ThemedButton/tsconfig.json
  packages/ThemedText/.eslintcache
  packages/ThemedToast/.eslintcache
  packages/Utils/.eslintcache
  packages/Utils/src/index.ts
  pnpm-lock.yaml
  scripts/scaffolds/package.config.mjs
  scripts/scaffolds/storybook-template.mjs
Due: eslint --fix --cache, prettier --write

feat: added themed button package and nativewind support
  .changeset/bright-walls-enter.md
  .eslintcache
  .lintstagedrc
  apps/expo-native/app/index.tsx
  apps/expo-native/babel.config.js
  apps/expo-native/global.css
  apps/expo-native/metro.config.js
  apps/expo-native/nativewind-env.d.ts
  apps/expo-native/stories/ThemedButton/index.stories.tsx
  apps/expo-native/tailwind.config.js
  apps/expo-native/tsconfig.json
  assets.d.ts
  nativewind-env.d.ts
  package.json
  packages/ThemedButton/.eslintcache
  packages/ThemedButton/eslint.config.js
  packages/ThemedButton/package.json
  packages/ThemedButton/src/ThemedButton.tsx
  packages/ThemedButton/tsconfig.build.json
  packages/ThemedButton/tsconfig.json
  packages/ThemedText/.eslintcache
  packages/ThemedText/tsconfig.build.json
  packages/ThemedText/tsconfig.json
  packages/ThemedToast/.eslintcache
  packages/ThemedToast/tsconfig.build.json
  packages/ThemedToast/tsconfig.json
  packages/Utils/.eslintcache
  packages/Utils/src/customHooks/useAppFonts.ts
  packages/Utils/tsconfig.build.json
  packages/Utils/tsconfig.json
  pnpm-lock.yaml
  scripts/dev/lint-pkg.js
  scripts/scaffolds/eslint-template.mjs
  scripts/scaffolds/storybook-template.mjs
  scripts/scaffolds/tsconfig-build-template.mjs
  scripts/scaffolds/tsconfig-template.mjs
  stylelint.config.js
Due: eslint --fix --cache, prettier --write, stylelint --fix

fix: previous
  .eslintcache
  .lintstagedrc
  packages/ThemedButton/.eslintcache
  packages/Utils/.eslintcache
  packages/Utils/src/customHooks/useAppFonts.ts
Due: eslint --fix --cache, prettier --write

chore: removed useAppFonts hook
  .eslintcache
  packages/Utils/package.json
  packages/Utils/src/assets/fonts/NotoSans-Bold.ttf
  packages/Utils/src/assets/fonts/NotoSans-ExtraBold.ttf
  packages/Utils/src/assets/fonts/NotoSans-Light.ttf
  packages/Utils/src/assets/fonts/NotoSans-Medium.ttf
  packages/Utils/src/assets/fonts/NotoSans-Regular.ttf
  packages/Utils/src/assets/fonts/NotoSans-SemiBold.ttf
  packages/Utils/src/assets/fonts/NotoSans-Thin.ttf
  packages/Utils/src/assets/fonts/NotoSans_Condensed-Regular.ttf
  packages/Utils/src/assets/fonts/NotoSans_Condensed-SemiBold.ttf
  packages/Utils/src/customHooks/useAppFonts.ts
  packages/Utils/src/index.ts
Due: eslint --fix --cache, prettier --write

chore: removed useAppFonts hook
  .eslintcache
  packages/Utils/package.json
Due: prettier --write

feat: added themed divider
  apps/expo-native/package.json
  apps/expo-native/stories/ThemedDivider/index.stories.tsx
  packages/ThemedButton/.eslintcache
  packages/ThemedDivider/.eslintcache
  packages/ThemedDivider/README.md
  packages/ThemedDivider/eslint.config.js
  packages/ThemedDivider/index.ts
  packages/ThemedDivider/package.json
  packages/ThemedDivider/src/ThemedDivider.tsx
  packages/ThemedDivider/src/index.ts
  packages/ThemedDivider/tsconfig.build.json
  packages/ThemedDivider/tsconfig.json
  packages/Utils/.eslintcache
  pnpm-lock.yaml
  scripts/scaffolds/component-template.mjs
  scripts/scaffolds/package.config.mjs
Due: eslint --fix --cache, prettier --write

feat: added themed switch
  .eslintcache
  apps/expo-native/app/index.tsx
  apps/expo-native/constants/theme.ts
  apps/expo-native/hooks/use-theme-color.ts
  apps/expo-native/package.json
  apps/expo-native/stories/ThemedSwitch/index.stories.tsx
  package.json
  packages/ThemedButton/.eslintcache
  packages/ThemedDivider/.eslintcache
  packages/ThemedSwitch/.eslintcache
  packages/ThemedSwitch/README.md
  packages/ThemedSwitch/eslint.config.js
  packages/ThemedSwitch/index.ts
  packages/ThemedSwitch/package.json
  packages/ThemedSwitch/src/ThemedSwitch.tsx
  packages/ThemedSwitch/src/index.ts
  packages/ThemedSwitch/tsconfig.build.json
  packages/ThemedSwitch/tsconfig.json
  packages/Utils/.eslintcache
  packages/Utils/src/types/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

feat: added themed checkbox
  .eslintcache
  apps/expo-native/app/_layout.tsx
  apps/expo-native/app/index.tsx
  apps/expo-native/package.json
  apps/expo-native/stories/ThemedButton/index.stories.tsx
  apps/expo-native/stories/ThemedCheckbox/index.stories.tsx
  apps/expo-native/stories/ThemedSwitch/index.stories.tsx
  apps/expo-native/stories/ThemedText/index.stories.tsx
  package.json
  packages/ThemedButton/.eslintcache
  packages/ThemedCheckbox/.eslintcache
  packages/ThemedCheckbox/README.md
  packages/ThemedCheckbox/eslint.config.js
  packages/ThemedCheckbox/index.ts
  packages/ThemedCheckbox/package.json
  packages/ThemedCheckbox/src/ThemedCheckbox.tsx
  packages/ThemedCheckbox/src/index.ts
  packages/ThemedCheckbox/tsconfig.build.json
  packages/ThemedCheckbox/tsconfig.json
  packages/ThemedDivider/.eslintcache
  packages/ThemedSwitch/.eslintcache
  packages/Utils/.eslintcache
  packages/Utils/src/constants/colors.ts
  pnpm-lock.yaml
  scripts/dev/build-pkg.js
Due: eslint --fix --cache, prettier --write

feat: added themed view and themed radio
  apps/expo-native/package.json
  apps/expo-native/stories/ThemedRadio/index.stories.tsx
  apps/expo-native/stories/ThemedView/index.stories.tsx
  packages/ThemedButton/.eslintcache
  packages/ThemedCheckbox/.eslintcache
  packages/ThemedCheckbox/src/ThemedCheckbox.tsx
  packages/ThemedDivider/.eslintcache
  packages/ThemedRadio/.eslintcache
  packages/ThemedRadio/README.md
  packages/ThemedRadio/eslint.config.js
  packages/ThemedRadio/index.ts
  packages/ThemedRadio/package.json
  packages/ThemedRadio/src/ThemedRadio.tsx
  packages/ThemedRadio/src/index.ts
  packages/ThemedRadio/tsconfig.build.json
  packages/ThemedRadio/tsconfig.json
  packages/ThemedSwitch/.eslintcache
  packages/ThemedView/.eslintcache
  packages/ThemedView/README.md
  packages/ThemedView/eslint.config.js
  packages/ThemedView/index.ts
  packages/ThemedView/package.json
  packages/ThemedView/src/ThemedView.tsx
  packages/ThemedView/src/index.ts
  packages/ThemedView/tsconfig.build.json
  packages/ThemedView/tsconfig.json
  packages/Utils/.eslintcache
  packages/Utils/src/constants/colors.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

chore: added changeset
  .changeset/fuzzy-mangos-slide.md
  .eslintcache
Due: none

fix: updated the themed toast
  README.md
  apps/expo-native/stories/ThemedToast/index.stories.tsx
  apps/expo-native/tailwind.config.js
  packages/ThemedToast/package.json
  packages/ThemedToast/src/ThemedToast.tsx
  packages/ThemedToast/src/ToastConfig.tsx
  packages/Utils/src/constants/colors.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

feat: added modal wrapper
  .eslintcache
  apps/expo-native/app/index.tsx
  apps/expo-native/package.json
  apps/expo-native/stories/ModalWrapper/index.stories.tsx
  apps/expo-native/tailwind.config.js
  eslint.config.mjs
  packages/ModalWrapper/README.md
  packages/ModalWrapper/eslint.config.js
  packages/ModalWrapper/index.ts
  packages/ModalWrapper/package.json
  packages/ModalWrapper/src/ModalWrapper/index.tsx
  packages/ModalWrapper/src/ModalWrapperHeader/index.tsx
  packages/ModalWrapper/src/index.ts
  packages/ModalWrapper/tsconfig.build.json
  packages/ModalWrapper/tsconfig.json
  packages/ThemedRadio/src/ThemedRadio.tsx
  packages/Utils/src/constants/colors.ts
  pnpm-lock.yaml
  scripts/scaffolds/package.config.mjs
Due: eslint --fix --cache, prettier --write

feat: added modal and footer
  .changeset/green-deer-end.md
  apps/expo-native/package.json
  apps/expo-native/stories/Footer/index.stories.tsx
  packages/Footer/.eslintcache
  packages/Footer/README.md
  packages/Footer/eslint.config.js
  packages/Footer/index.ts
  packages/Footer/package.json
  packages/Footer/src/Footer.tsx
  packages/Footer/src/index.ts
  packages/Footer/tsconfig.build.json
  packages/Footer/tsconfig.json
  packages/ModalWrapper/.eslintcache
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

feat: updated packages
  .changeset/brown-sides-repeat.md
  apps/expo-native/app/_layout.tsx
  apps/expo-native/app/index.tsx
  apps/expo-native/stories/Footer/index.stories.tsx
  apps/expo-native/stories/ModalWrapper/index.stories.tsx
  eslint.config.mjs
  package.json
  packages/Footer/.eslintcache
  packages/Footer/src/Footer.tsx
  packages/ModalWrapper/.eslintcache
  packages/ModalWrapper/package.json
  packages/ModalWrapper/src/ModalWrapper/index.tsx
  packages/ModalWrapper/src/ModalWrapperHeader/index.tsx
  packages/ModalWrapper/src/index.ts
  packages/ThemedButton/.eslintcache
  packages/ThemedCheckbox/.eslintcache
  packages/ThemedDivider/.eslintcache
  packages/ThemedRadio/.eslintcache
  packages/ThemedSwitch/.eslintcache
  packages/ThemedText/.eslintcache
  packages/ThemedToast/.eslintcache
  packages/ThemedView/.eslintcache
  packages/Utils/.eslintcache
  packages/Utils/src/constants/colors.ts
  packages/Utils/src/customHooks/useThemeColor.ts
  packages/Utils/src/types/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

chore: updated script
  package.json
Due: prettier --write
